.container-bg{
    /* background-color:rgb(247, 247, 247); */
    background-image: url('../images/bg3.png') ;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
body{
	margin: auto 0;
	/* background: #6b151500 !important; */
	font-size:100%;
	font-family: 'Open Sans', sans-serif;
}
body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;																																												
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}


h1 {
    margin: 0;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    letter-spacing: 2px;
    padding: 50px 0;
}

h2 {
    margin: 0;
    color: #fc3955;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    letter-spacing: 1px;
    padding-bottom: 30px;
}

p.register-p {
    color: #000;
    font-size: 13px;
    text-align: center;
    margin-top: 2em;
}

.login-form {
    background: rgba(214, 214, 214, 0.897);
    max-width: 550px;
    margin: 0 auto;
    padding: 2em;
    border-radius: 4px;
    box-shadow: 10px 5px 5px rgb(201, 178, 178);
    box-sizing: border-box;
}

.group { 
    padding: 1px;
    background-color: #ffffff;
}

.group i {
    color: #fc3955;
    font-size: 20px;
    padding: 0 10px;
}

.f-group {
    margin: 20px 0;
}

form-group label {
    display: block;
    text-transform: uppercase;
    font-size: 13px;
    color: #d2d2d2;
    letter-spacing: 2px;
    margin-bottom: 10px;
    font-family: Sans-serif;
} 

input[type="text"], input[type="email"],
input[type="password"] {
    width: 100% !important;
    height: 50px;
    border: none !important;
    box-sizing: border-box;
    background: rgb(247, 247, 247);
    color: #000;
    border-radius: 2px;
}

input[type="text"]:focus,input[type="email"]:focus,
input[type="password"]:focus {
    outline: none !important;
}

button {
    background: #fc3955;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    padding: 12px 60px;
    cursor: pointer;
    border-radius: 6px;
}


.forgot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

a {
    color: #eee;
    font-size: 14px;
    text-decoration: none;
}

.forgot p {
    color: #ffffff;
    text-align: center;
    margin: 0px;
	font-size: 13px;
}

.register {
    color: #00BCD4;
    text-decoration: none;
}

/*--footer--*/

p.copyright-agileinfo {
    font-size: 15px;
    letter-spacing: 2px;
    color: #000;
    font-weight: 300;
}

footer p a {
    display: inline-block;
    color: #fff;
    text-decoration: underline;
}

footer p a:hover {
    color: #fff;
    text-decoration: none;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

footer {
    padding: 4em 0;
    text-align: center;
}
/*--//footer--*/

/*-- /responsive design --*/

@media(max-width:768px) {
    h1 {
        font-size: 47px;
    }
}

@media(max-width:667px) {
    h1 {
        font-size: 45px;
    }
}

@media(max-width:640px) {
    p.copyright-agileinfo {
        letter-spacing: 1px;
    }
    h1 {
        font-size: 43px;
    }
}

@media(max-width:568px) {
    h1 {
        font-size: 40px;
    }
    p.copyright-agileinfo {
        font-size: 14px;
    }
}

@media(max-width:480px) {
    .login-form {
    margin: 0 3vw;
}
    h1 {
        font-size: 38px;
    }
    p.copyright-agileinfo {
        line-height: 1.8em;
    }
}

@media(max-width:414px) {
    h1 {
        font-size: 34px;
    }
}

@media(max-width:384px) {
    h1 {
        font-size: 30px;
    }
}

@media(max-width:320px) {
    h1 {
        font-size: 25px;
    }
    .forgot p {
        text-align: left;
    }
    .forgot {
        display: block;
    }
}

/*-- /responsive design --*/

/* My style  */

.errorlist{
    color: red;
    list-style: none;
}

.form-control{
    border-radius: 0px;
   
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
.navbar-dark .navbar-nav .nav-link{
    margin-left: 30px;
    color:#000 !important;
    font-family: Time new Roma;
    font-size: 18px;
    text-transform: uppercase;

}

.navbar-dark .navbar-nav .nav-link:hover{
    color: rgb(226, 86, 43) !important; 
    border-bottom: 1px solid !important;
    border-color: rgb(255, 255, 255) !important;
}

.navbar .navbar-brand{
    margin-left: 15px;
    font-family: elephant;
    color: rgb(226, 86, 43) !important;
}

