{% load static %}
<!-- footer -->
	<div class="text-center text-black p-5">
		<p>Copyright © 2021 Scheduler. All Rights Reserved </p>		
	</div>
		<!-- //footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'account/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    